.deFormat{
  background-color: rgb(240, 238, 236);
  width : 200px;
  height: 200px;
  border-radius: 20px;
}
.deScore1{
  height: 30px; 
  width: 30px; 
  background-color: rgb(0, 0, 0);
  border: 5px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}
